.slider{
    margin-bottom: 15px;
}

.sliderBlock img{
    height:100px;
    overflow: hidden;
}

.sliderBlock{
    
    width: 30%;
    
    border: 2px solid red;
    overflow: hidden;
    
}



.sliderBlock5{

    width: 13%;
    
    border: 2px solid red;
    overflow: hidden;
}

.slider5{
    height: 160px;
    width: 600px;
    /* overflow: hidden; */
    border:3px solid blueviolet;
    background-color: brown;
    position: relative;
   

}

.oneSlider{
    border: 1px solid black;
    width: 100px;
    display: inline-block;
    
    
    
}

.oneSlider h3{
    text-align: center;
}

.oneSlider img{
    width: 100%;
}

