body {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

.input-form {
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: white;
  text-align: center;
  border-bottom: 1px solid #ccc; }

input {
  -webkit-appearance: none;
  border-radius: 30px;
  padding: 7px 12px;
  border: 1px solid #ccc;
  outline: none; }

select {
  -webkit-appearance: none;
  border-radius: 30px;
  padding: 7px 12px;
  border: 1px solid #ccc;
  outline: none; }

.caption {
  text-align: center;
  font-size: 18px;
  font-weight: bold; }
